<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="status" [hidden]="contentHidden">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" [hidden]="contentHidden">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistik</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hwb" [hidden]="contentHidden">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>WEB</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Mehr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>